@import "_base";

h1 {
    background-image: linear-gradient(to right, black , white);
    color: blanchedalmond;
    height: 30vh;
    padding: 53px 0 0 18px;
    width: 100%;
}

.logo-header {
    float: right;
}