@import "_base";

h1 {
    background-image: linear-gradient(to right, black , white);
    color: blanchedalmond;
    height: 30vh;
    padding: 53px 0 0 18px;
    width: 100%;
}

.logo-header {
    float: right;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background: whitesmoke;
    padding: 5px;
    width: 18rem;
    min-height: 10rem;
    margin: 10px;
    
    // line-height: 100px;
    color: #282c35;
    font-weight: bold;
    font-size: 0.6em;
    text-align: left;
  }

  .legend-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 100px 25px 54px;
    font-size: 0.8em;
    div {
        display: inline-block;
    }
  }

  .car-details {
    display:none;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
  }

  footer {
      background: black;
      color: white;
  }